.commerce-checkout {
	margin-top: 30px;
}

.commerce-checkout .form-row textarea {
    border: 1px solid #f4eede;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    padding: 10px;
    width: 100%;
    height: 200px;
}
.order-review-wrap {
	border: 1px dashed #2b5c01;
    padding: 30px;
}
.commerce-checkout .order-review-wrap h3 {
    padding: 0 0 0 0;
    margin: 0 0 34px 0;
    color: #212121;
    font-size: 24px;
    position: relative;
}
.commerce-checkout table.shop_table {
    text-align: left;
    width: 100%;
	border: 0;
    margin: 0;
}
.commerce-checkout .order-review-wrap table.shop_table thead th {
    padding: 0 0 10px 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
	border: none;
    border-bottom: 1px solid #f4eede;
}
.commerce-checkout .order-review-wrap table.shop_table tbody td {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
	border: none;
}
.commerce-checkout .order-review-wrap table.shop_table tbody .cart_item:first-child td {
    padding-top: 20px;
}
.commerce-checkout .order-review-wrap table.shop_table tbody td.product-total {
    text-align: right;
}
.commerce-checkout .order-review-wrap table.shop_table tfoot th {
    margin: 0;
    font-size: 14px;
    padding: 23px 0;
	border: none;
    border-bottom: 1px solid #f4eede;
    font-weight: 400;
    text-transform: uppercase;
	padding-top: 23px;
}
.commerce-checkout .order-review-wrap table.shop_table tfoot .order-total td,
.commerce-checkout .order-review-wrap table.shop_table tfoot .order-total th {
    border: none;
    padding-bottom: 0;
}
.commerce-checkout .order-review-wrap table.shop_table tfoot .cart-subtotal td {
	border: none;
	border-bottom: 1px solid #f4eede;
}
.commerce-checkout .order-review-wrap table.shop_table tfoot .order-total .amount {
    font-size: 24px;
    line-height: 24px;
    display: block;
    color: #2b5c01;
}
.commerce-checkout .commerce-checkout-payment {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 30px;
}
.commerce-checkout .commerce-checkout-payment ul.payment_methods {
    text-align: left;
    margin: 0;
    list-style: none;
	border: 1px solid #f4eede;
    background: #fff;
    padding: 0 0 10px 0;
}
.commerce-checkout .commerce-checkout-payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}
.commerce-checkout .commerce-checkout-payment ul.payment_methods li:first-child {
    border-top: 0;
}
.commerce-checkout .commerce-checkout-payment ul.payment_methods li input[type='radio'] {
    margin: 8px 20px 15px 10px;
	vertical-align: top;
}
.commerce-checkout .commerce-checkout-payment ul.payment_methods li label {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 20px;
    font-weight: 400;
}
.commerce-checkout .commerce-checkout-payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    color: #515151;
	background: transparent;
    border-top: 1px solid #f4eede;
    margin: 0;
    padding: 20px;
    width: 100%;
}
.commerce-checkout .commerce-checkout-payment div.payment_box p:last-child {
    margin-bottom: 0;
}
.commerce-checkout .commerce-checkout-payment .payment_method_paypal img {
    max-height: 52px;
    vertical-align: middle;
	display: block;
    margin: 6px 0 0 0;
}





.wide-cart-product-name {
	width: 180px;
}

.continue-shopping {
	background-color: #EEE;
	color: #444;
}

.plus-minus-btn {
	padding-top: 0px;
	padding-bottom: 0px;
}

.cart_item_quantity {
	margin-bottom: 0px;
}

.vcenter {
	width: 110px;
	margin-bottom: 10px;
}

.vcenter input, .vcenter span{
    vertical-align: bottom;
}

.input-number {
	padding-left: 14px;
}

.btn-number, .btn-number:focus, .btn-number:hover {
	background: #1ABC9C;
}

.ecommerce-categories [class^=col-] {
	position: relative;
	margin-bottom: 30px;
}

.ecommerce-categories [class^=col-] > a {
	display: block;
	position: relative;
	height: 250px;
	background-color: #EEE;
}

.ecommerce-categories [class^=col-] img { display: block; }

.ecommerce-categories [class^=col-] > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	opacity: 0.4;
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
}

.ecommerce-categories [class^=col-] > a:hover:before { opacity: 1; }


.payment-cards {
	list-style: none;
	text-align: right;
	margin: 0;
}

.payment-cards li {
	display: inline-block;
	margin: 0 5px;
	width: 44px;
}

.product-image > a,
.product-image .slide a,
.product-image img {
	display: block;
	width: 100%;
	height: auto;
}

.revo-slider-emphasis-text {
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  width: 650px;
  text-align: center;
  line-height: 1.5;
}

.revo-slider-caps-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }
