<div class="page-header">
  <%= link_to backoffice_coupons_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_coupon_path(@coupon), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Coupon</h1>
</div>

<%= render 'form' %>
