/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment-cards {
	list-style: none;
	text-align: right;
	margin: 0;
}

.payment-cards li {
	display: inline-block;
	margin: 0 5px;
	width: 66px;
}

#devtech_quantity {
	margin-right: 0;
}

#devtech_plus a:before {
	content: "\f067";
}

#devtech_plus {
	margin-left: 0;
	margin-right: 10;
}

#devtech_minus a:before {
	content: "\f068";
	margin-left: 0;
}

#devtech_minus {
	margin-left: 0;
}

.category-main-image-container {
    position:relative;
}

.category-main-image {
    //position:absolute;
    //left:0;
    //top:0;
}

.category-main-image-layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 57%;
    left: 0;
    width: 100%;
    height: 20%;
}

.category-main-image-overlay-text {
    z-index:100;
    position:absolute;
    color:white;
    font-size:36px;
    font-weight:bold;
    left:30%;
    top:60%;
}

.commerce-address-fields .control-label {
  color: #696969;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-control {
  height: 40px;
  border: 1px solid #f4eede;
  border-radius: 0px;
  color: #767676;
  box-shadow: none;
}

.hide-ok-label {
  display: none;
}

#submit-address-ok {
  margin-left: 10px;
  padding-top: 10px;
  color: red;
  vertical-align: -webkit-baseline-middle;
}

.single-product-container {
  margin-top: 80px;
}

@media (max-width: 767px) {
    .navbar-brand {
        line-height: 75px !important;
    }
    .navbar-brand .noo-logo-img {
        max-height: 75px;
        margin-top: -25px;
    }
}
