.out_of_stock {
  margin-bottom: 30px;
  color: red;
  font-size: 24px;
}

.devtech-right-menu-custom .navbar-nav li > a {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #696969;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment-cards {
	list-style: none;
	text-align: right;
	margin: 0;
}

.payment-cards li {
	display: inline-block;
	margin: 0 5px;
	width: 66px;
}

.header-menu-no-wrap {
  white-space: nowrap;
}

.max-height-400 {
  max-height: 400;
}

.max-height-800 {
  max-height: 800;
}

.product-thumbnail a img{
  max-height: 100;
}

.noo-product-thumbnail a img{
  max-height: 400;
}

.header-menu-no-wrap {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.noo-minicart {
  display: none;
}

.cart_wish_number {
  width: 40% !important;
}

.commerce-cart table.cart td {
  padding-top: 20px;
}

#devtech_quantity {
	margin-right: 0;
}

#devtech_plus a:before {
	content: "\f067";
}

#devtech_plus {
	margin-left: 0;
	margin-right: 10;
}

#devtech_minus a:before {
	content: "\f068";
	margin-left: 0;
}

#devtech_minus {
	margin-left: 0;
}

.category-main-image-container {
    position:relative;
}

.category-main-image {
    //position:absolute;
    //left:0;
    //top:0;
}

.category-main-image-layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 57%;
    left: 0;
    width: 100%;
    height: 20%;
}

.category-main-image-overlay-text {
    z-index:100;
    position:absolute;
    color:white;
    font-size:36px;
    font-weight:bold;
    left:30%;
    top:60%;
}

.commerce-address-fields .control-label {
  color: #696969;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-control {
  height: 40px;
  border: 1px solid #f4eede;
  border-radius: 0px;
  color: #767676;
  box-shadow: none;
}

.hide-ok-label {
  display: none;
}

#submit-address-ok {
  margin-left: 10px;
  padding-top: 10px;
  color: red;
  vertical-align: -webkit-baseline-middle;
}

.single-product-container {
  margin-top: 80px;
}

.dvt_houses_lista {
  margin-top: 130px;
}

.inner-relative {
  position: relative;
}

.noo-page-heading {
  height: 200px;
}

.payments-info {
	margin-bottom: 20px;
}

.noo-main-menu {
  margin-top: 20px;
}

.noo-product-title {
  max-height: 240px;
}

.factura_checkbox {
  margin: 8px 20px 15px 10px !important;
}

.main-featured-products {
  margin-left: 250px;
}

.cart-quantity {
  margin-top: 30px;
}

.organici-continue {
  background: #f4eede !important;
  color: #212121 !important;
  text-align: left !important;
}

.no_stock {
  background-color: grey !important;
}

div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .add_to_cart_button {
    left: 0%;
    width: 33%;
}

div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .add_to_cart_button.loading:after {
    right: 41%;
}


div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .yith-wcwl-add-to-wishlist {
    left: 33%;
    width: 33%;
}

div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .link-detail {
    left: 66%;
    width: 34%;
}

.commerce .product-grid .noo-product-inner:hover .noo-product-title .noo-product-action {
  background: white;
}

.category-desktop-image {
  width: 400px;
  height: 200px;
}

.commerce .product-grid .noo-product-inner {
  border-width: 1px;
  border-color: black;
}

@media (max-width: 767px) {

    .main-featured-products {
      margin-left: 0px;
    }

    .commerce-cart table.cart .product-quantity {
        display: block;
    }

    .cart-mobile {
      padding-left: 5px;
      padding-right: 5px;
    }

    .commerce-cart table.cart th.product-thumbnail {
        width: 28%;
        padding-top: 18px;
        padding-right: 2px;
        padding-left: 2px;
    }

    .commerce-cart table.cart th.product-price {
        width: 20%;
        padding-top: 18px;
        padding-right: 5px;
        padding-left: 15px;
    }

    .commerce-cart table.cart th.product-quantity {
        width: 16%;
        padding-top: 18px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .commerce-cart table.cart th.product-subtotal {
        width: 20%;
        padding-top: 18px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .commerce-cart table.cart th.product-remove{
        width: 5%;
        padding: 18px 0px;
    }

    .commerce-cart table.cart td.product-thumbnail {
        width: 28%;
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: left;
        //padding-bottom: 5px;
    }

    .commerce-cart table.cart td.product-thumbnail a:last-child {
        padding-left: 0px;
    }

    .commerce-cart table.cart td.product-price {
        width: 20%;
        padding-top: 0px;
        padding-right: 2px;
        padding-left: 10px;
    }

    .cart-quantity {
      margin-top: 0px;
    }

    .mobile-product-quantity {
      //height: 109px;
    }

    .cart_wish_number {
        width: 70% !important;
    }

    .commerce-cart table.cart td.product-quantity {
        width: 16%;
        padding-top: 18px;
        padding-right: 5px;
        padding-left: 15px;
    }

    .commerce-cart table.cart td.product-subtotal {
        width: 20%;
        padding-top: 0px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .commerce-cart table.cart td.product-remove{
        width: 5%;
        padding-top: 5px;
    }


    .navbar-brand {
        line-height: 75px !important;
    }

    .navbar-brand .noo-logo-img {
        max-height: 75px;
        margin-top: -25px;
        margin-left: -18px;
    }

    .noo-minicart {
      display: none !important;
    }

}
