<div class="main">
  <div class="commerce noo-shop-main">
    <div class="container">
      <div class="row" >
        <div class="noo-main col-md-9" style="margin-top: 30px;">
          <div class="noo-height-product pt-8 pb-10">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="noo-product-grid-wrap commerce product-style2">
                    <div class="pagination list-center" style="display:none;">
                      <%= paginate @products %>
                      <!--<span class="page-numbers current">1</span>
                      <a class="page-numbers" href="#">2</a>
                      <a class="page-numbers" href="#">3</a>
                      <a class="next page-numbers" href="#"><i class="fa fa-long-arrow-right"></i></a>-->
                    </div>
                    <div class="noo-product-grid products row product-grid noo-grid-4 product-index-container">

                      <%= render partial: "ecommerce/#{Ecommerce.ecommerce_layout}/product/product", collection: @products, as: :item %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "ecommerce/organici/store/prefooter" %>
</div>

<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>

<script>
$(document).ready(function(){

  var $container = $('.product-index-container').infiniteScroll({
    // options
    path: 'nav.pagination a[rel=next]',
    append: '.product',
    history: 'push',
    status: '.page-load-status',
    scrollThreshold: 10
  });

  $container.on( 'request.infiniteScroll', function( event, response, path, items ) {
    var $loading = $('.spinner').show();
  });

  $container.on( 'append.infiniteScroll', function( event, response, path, items ) {
    var $loading = $('.spinner').hide();
    //noo_masonry();
    //noo_masonry2();
  });
});

</script>
