<div class="page-header">
  <%= link_to backoffice_payment_methods_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_payment_method_path(@backoffice_payment_method), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Payment Method</h1>
</div>

<%= render 'form' %>
