<!-- Footer
============================================= -->
<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06);">

  <div class="container" style="border-bottom: 1px solid rgba(0,0,0,0.06);">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

        <div class="widget clearfix">

          <div class="widget-subscribe-form-result"></div>
          <form id="widget-subscribe-form" action="suscribirse" role="form" method="post" class="nobottommargin row clearfix">
            <div class="col-md-9">
              <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="sm-form-control required email" placeholder="Ingresa tu correo para suscribirte a nuestro Newsletter">
            </div>
            <div class="col-md-3">
              <button class="button button-rounded nomargin center btn-block" type="submit">Suscríbete</button>
            </div>
          </form>

          <div class="line line-sm"></div>

          <div class="row">
            <div class="clear-bottommargin-sm clearfix">

              <div class="col-md-6 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="https://www.podiatrika.pe/">Inicio</a></li>
                  <li><a href="https://www.podiatrika.pe/quienes_somos/">¿Quiénes Somos?</a></li>
                  <li><a href="https://www.podiatrika.pe/citas/">Reserva tu Cita</a></li>
                </ul>
              </div>

              <div class="col-md-6 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="https://www.podiatrika.pe/blog">Blog</a></li>
                  <li><a href="https://www.podiatrika.pe/tienda">Tienda</a></li>
                  <li><a href="https://www.podiatrika.pe/contactanos">Contáctanos</a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col_one_third col_last">

        <div class="widget clear-bottommargin-sm clearfix">

          <div class="row">

            <div class="col-md-12 bottommargin-sm">
              <div class="footer-big-contacts">
                <span>Llámanos:</span>
                (511) 642 1600
              </div>
            </div>

            <div class="col-md-12 bottommargin-sm">
              <div class="footer-big-contacts">
                <span>Escríbenos:</span>
                citas@podiatrika.pe
              </div>
            </div>

          </div>

        </div>

        <div class="widget subscribe-widget clearfix">
          <div class="row">

            <div class="col-md-6 clearfix bottommargin-sm">
              <a href="https://www.facebook.com/pg/Podiatrika-Salud-310750616061060" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="https://www.facebook.com/pg/Podiatrika-Salud-310750616061060" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Síguenos</strong><br>en Facebook</small></a>
            </div>
            <div class="col-md-6 clearfix">
              <a href="#" class="social-icon si-dark si-colored si-linkedin nobottommargin" style="margin-right: 10px;">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#"><small style="display: block; margin-top: 3px;"><strong>Síguenos</strong><br>en Linkedin</small></a>
            </div>

          </div>
        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights" class="nobg">

    <div class="container clearfix">

      <div class="col_half">
        Copyright &copy; 2018 Podiatrika EIRL Todos los Derechos Reservados<br>
        <div class="copyright-links"><a href="#">Términos de Uso</a> / <a href="#">Política de Privacidad</a></div>
      </div>

    <!--  <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links clearfix">
          <a href="#">Principal</a>/<a href="#">Quiénes Somos</a>/<a href="#">Servicios</a>/<a href="#">Especialistas</a>/<a href="#">Blog</a>/<a href="#">Contáctanos</a>
        </div>
      </div>-->

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
