<%= simple_form_for(@address, remote: true ) do |g| %>
  <div class="form-inputs">
    <%= g.input :id, as: :select, collection: @checkout_addresses, label_method: lambda { |obj| obj.friendly_street_select}, label: false, prompt: "Pick an Address", html: { class: "select"} %>
  </div>

  <div class="form-actions", style="margin-bottom: 30px;">
    <%= g.button :submit, "Pick Address", class: "button mt-1", style: "background: lightgrey; display: none;" %>
  </div>
<% end %>
