<%= simple_form_for(@picked_address, remote: true, html: {id: "address-pick-form"} ) do |g| %>
  <div class="form-inputs">
    <%= g.input :id, as: :select, collection: @checkout_addresses, label_method: lambda { |obj| obj.friendly_street_select}, label: false, prompt: t('.pick_an_address'), html: { class: "select"} %>
  </div>

  <div class="form-actions", style="margin-bottom: 30px;">
    <%= g.button :submit, t('.pick_an_address'), class: "button mt-1", style: "background: lightgrey; display: none;" %>
  </div>
<% end %>
