<div class="page-header">
  <%= link_to backoffice_accounting_code_families_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_accounting_code_family_path(@backoffice_accounting_code_family), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Accounting Code Family</h1>
</div>

<%= render 'form' %>
