.categories-principles {
  background-color: var(--label-color);
  text-align: center;
}
.categories-principles h2 {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.categories-principles p {
  font-weight: 700;
  margin: 15px 0 25px;
}
