<!DOCTYPE html>
<html>
<head>
  <title>Canvas Shop</title>
  <%= stylesheet_link_tag    "ecommerce/application", media: "all" %>
  <%= javascript_include_tag "ecommerce/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  You are now using the Canvas Shop Layout

<%= yield %>

</body>
</html>
