<!DOCTYPE html>
<html>
<head>
  <title>Canvas Ecommerce</title>
  <%= stylesheet_link_tag    "ecommerce/canvas_ecommerce", media: "all" %>
  <%= javascript_include_tag "ecommerce/canvas_ecommerce" %>
  <%= csrf_meta_tags %>
</head>
<body>
  You are now using the Canvas Ecommerce Layout

<%= yield %>

</body>
</html>

<% parent_layout "ecommerce/base" %>
