<div class="page-header">
  <%= link_to backoffice_product_skus_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_product_sku_path(@backoffice_product_sku), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing backoffice_product_sku</h1>
</div>

<%= render 'form' %>
