<section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

  <!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div id="rev_slider_ishop_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="default-slider" style="padding:0px;">
      <!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
    <div id="rev_slider_ishop" class="rev_slider fullwidthbanner" style="display:none;" data-version="5.1.4">
      <ul>    <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="5000" data-saveperformance="off" data-title="Latest Collections" style="background-color: #F6F6F6;">
          <!-- LAYERS -->

          <!-- LAYER NR. 2 -->
          <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
          data-x="0"
          data-y="50"
          data-transform_in="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="400"
          data-start="1000"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="5000"
          data-endeasing="Power4.easeIn" style=""><img src= <%= image_url("ecommerce/img/shop/plantillas.png") %> alt="Girl"></div>

          <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
          data-x="570"
          data-y="75"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1000"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333;"></div>

          <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
          data-x="570"
          data-y="105"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1200"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333; max-width: 430px; line-height: 1.15;">Plantillas Ortopédicas<br>Personalizadas</div>

          <div class="tp-caption ltl tp-resizeme revo-slider-desc-text tleft"
          data-x="570"
          data-y="275"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1400"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Plantillas hechas a medida con un proceso computarizado supervisado por especialistas.</div>

          <div class="tp-caption ltl tp-resizeme"
          data-x="570"
          data-y="375"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1550"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=""><a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Mas Información</span> <i class="icon-angle-right"></i></a></div>

        </li>
        <!-- SLIDE  -->
        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="5000"  data-saveperformance="off"  data-title="Messenger bags" style="background-color: #E9E8E3;">
          <!-- LAYERS -->

          <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
          data-x="630"
          data-y="78"
          data-transform_in="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:400;e:Power4.easeOutQuad;"
          data-speed="400"
          data-start="1000"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=""><img src= <%= image_url("ecommerce/img/slider/rev/shop/bag.png") %> alt="Bag"></div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
          data-x="0"
          data-y="110"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1000"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333;">Buy Stylish Bags at Discounted Prices</div>

          <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
          data-x="0"
          data-y="140"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1200"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333; line-height: 1.15;">Messenger Bags</div>

          <div class="tp-caption ltl tp-resizeme revo-slider-desc-text tleft"
          data-x="0"
          data-y="240"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1400"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Grantees insurmountable challenges invest protect, growth improving quality social entrepreneurship.</div>

          <div class="tp-caption ltl tp-resizeme"
          data-x="0"
          data-y="340"
          data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="700"
          data-start="1550"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=""><a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Start Shopping</span> <i class="icon-angle-right"></i></a></div>

          <div class="tp-caption utb tp-resizeme revo-slider-caps-text uppercase"
          data-x="510"
          data-y="0"
          data-transform_in="x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
          data-speed="600"
          data-start="2100"
          data-easing="easeOutQuad"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power4.easeIn" style=""><img src= <%= image_url("ecommerce/img/slider/rev/shop/tag.png") %> alt="Bag"></div>

        </li>
      </ul>
    </div>
  </div><!-- END REVOLUTION SLIDER -->

</section>
