<div class="page-header">
  <%= link_to backoffice_addresses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_address_path(@backoffice_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing backoffice_address</h1>
</div>

<%= render 'form' %>
