<div class="noo-footer-shop-now">
  <div class="container">
    <div class="col-md-7">
      <h4>- Innovation - Quality - Great Prices -</h4>
      <h3>ExpatShop Perú</h3>
    </div>
    <img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
  </div>
</div>
