<% if browser.device.mobile? %>
  <a href="https://wa.me/51989080023" class="wa-float" target="_blank">
    <i class="fa fa-whatsapp wa-my-float"></i>
  </a>

  <a id="noo-search" class="wa-search search-button noo-search" href="#">
    <i class="fa fa-search search-my-float"></i>
  </a>
  
<% end %>
