<div class="main" style="margin-bottom: 250px;">

	<div class="section dark nobottommargin" style="margin-top: 30px;">
	  <div class="container clearfix">
				<h1> <%= t('.about_us') %> </h1>
	    <div class="row" style="margin-top: 30px; margin-left: 10px; margin-right: 10px;">
				<%= t('.about_us_p_html') %>
				<p style="margin-top: 30px;"><h4 style="margin-bottom: 30px;"><%= t('.business_objective') %> </h4></p>
				<%= t('.business_objective_p_html') %>
	    </div>
	  </div>
	</div>

</div>
