<div class="main" style="margin-bottom: 250px;">

	<div class="section dark nobottommargin" style="margin-top: 30px;">
	  <div class="container clearfix">
				<h1> <%= t('.terms_and_conditions') %> </h1>
	    <div class="row terms-paragraphs" style="margin-top: 30px; margin-left: 10px; margin-right: 10px;">

				<p><strong>T&eacute;rminos y Condiciones EXPATSHOP</strong></p>
				<p>El uso del portal expatshop.pe y todas las transacciones que se realicen a trav&eacute;s del mismo se rige por los t&eacute;rminos y condiciones descritos a continuaci&oacute;n, as&iacute; como por la legislaci&oacute;n peruana y ser&aacute;n aplicables a todos los actos y contratos que se ejecuten o celebren a trav&eacute;s de este sitio Web, entre Aniruddha SAC, (en adelante "EXPATSHOP") y el usuario de la p&aacute;gina web (en adelante &ldquo;EL CLIENTE&rdquo;.</p>
				<p>A continuaci&oacute;n se exponen dichas condiciones:</p>
				<ol>
				<li><strong>Registro de EL CLIENTE</strong></li>
				</ol>
				<p>Ser&aacute; requisito indispensable para la adquisici&oacute;n de productos y servicios ofrecidos en este portal la aceptaci&oacute;n de las presentes condiciones y el registro por parte del CLIENTE, debiendo &eacute;ste registrarse y poniendo una clave de acceso. El solo registro se entender&aacute; como el conocimiento y aceptaci&oacute;n de estos T&eacute;rminos y Condiciones. El registro en&nbsp;<a href="http://www.expatshop.pe">www.expatshop.pe</a>&nbsp;es gratuito.</p>

				<ol start="2">
				<li><strong>Clave secreta</strong><br /> El CLIENTE asume totalmente la responsabilidad por el mantenimiento de la confidencialidad de su clave secreta registrada en este sitio Web, la cual le permite efectuar compras, solicitar servicios y obtener informaci&oacute;n. Dicha clave es de uso personal y su entrega a terceros no involucra responsabilidad de EXPATSHOP o de sus relacionadas en caso de mala utilizaci&oacute;n.</li>
				<li><strong>Uso de portal</strong></li>
				</ol>
				<p>EXPATSHOP informar&aacute;, de manera inequ&iacute;voca y f&aacute;cilmente accesible, los pasos que deben seguirse para realizar un pedido, e informar&aacute; v&iacute;a correo electr&oacute;nico cu&aacute;ndo fue recibida la solicitud del pedido. Los pasos de una compra ser&aacute;n los siguientes:</p>
				<p>1) Agregar productos al carrito de compras <br /> 2)&nbsp;Validaci&oacute;n de datos del cliente<br /> 3)&nbsp;Compra de productos<br /> 4)&nbsp;Emisi&oacute;n de boleta/factura.</p>
				<p>EXPATSHOP indicar&aacute;, adem&aacute;s, su direcci&oacute;n electr&oacute;nico (gg@expatshop.pe) y los medios t&eacute;cnicos a disposici&oacute;n del consumidor para identificar y corregir errores en el env&iacute;o o en sus datos. Una vez generada la Orden de Compra no se aceptar&aacute;n anulaciones.</p>
				<ol start="4">
				<li><strong>Medios de pago </strong></li>
				</ol>
				<ul>
				<li>Los productos y servicios ofrecidos en este sitio, salvo que se se&ntilde;ale una forma diferente para casos particulares u ofertas de determinados bienes o servicios, s&oacute;lo podr&aacute;n ser pagados bajo 2 modalidades.</li>
				<li>Pago con dep&oacute;sito en cuenta, debiendo enviar el voucher v&iacute;a correo electr&oacute;nico y confirmar v&iacute;a telef&oacute;nica para que se efect&uacute;e el despacho de la mercader&iacute;a.</li>
				<li>Pagos en l&iacute;nea: Aceptamos tarjetas de cr&eacute;dito Visa, MasterCard y American Express, o pagos con tarjeta de d&eacute;bito Visa y MasterCard. Los montos aprobados ser&aacute;n retenidos por un tiempo m&aacute;ximo de 04 d&iacute;as para su atenci&oacute;n. De no entregarse el pedido en el tiempo establecido, la retenci&oacute;n se libera y el pedido queda anulado autom&aacute;ticamente y sin cargo alguno.</li>
				</ul>
				<ol start="5">
				<li><strong>Formaci&oacute;n del consentimiento en los pedidos realizados&nbsp;a trav&eacute;s de este sitio</strong><br /> A trav&eacute;s de&nbsp;<a href="http://www.expatshop.pe/">www.expatshop.pe</a>, EXPATSHOP realizar&aacute; ofertas de bienes y servicios, que podr&aacute;n ser aceptadas por v&iacute;a electr&oacute;nica, y utilizando los mecanismos que el mismo sitio ofrece para ello. Toda aceptaci&oacute;n de oferta quedar&aacute; sujeta a la condici&oacute;n de que EXPATSHOP valide la transacci&oacute;n. En consecuencia, para toda operaci&oacute;n que se efect&uacute;e en este sitio, la confirmaci&oacute;n y/o validaci&oacute;n y/o verificaci&oacute;n por parte de EXPATSHOP, ser&aacute; requisito para la formaci&oacute;n del consentimiento. Para dar por validada la transacci&oacute;n, EXPATSHOP deber&aacute; verificar:
				</li>
				</ol>
				<ul>
				<li>a) Que dispone de los productos solicitados.</li>
				<li>b) Que en caso de no disponer de alg&uacute;n producto se considerar&aacute; como sustitutos s&oacute;lo a aquellos que cumpla con el criterio seleccionado por el cliente, en funci&oacute;n de las siguientes opciones:</li>

				<ul>
				<li>Conservar la marca del producto y cambiar el tama&ntilde;o.</li>
				<li>Conservar el tama&ntilde;o del producto y cambiar la marca.</li>
				<li>Otro criterio que defina el cliente, por ejemplo, una marca o sabor espec&iacute;ficos.</li>
				<li>Sustituir el producto elegido.</li>
				<li>Emplear el criterio Expatshop, para seleccionar los productos manteniendo la relaci&oacute;n calidad &ndash; precio originalmente elegido.</li>
				</ul>

				<p>&nbsp;</p>
				<li>c) Que el medio de pago ofrecido por &ldquo;el cliente&rdquo; es v&aacute;lido.&nbsp;</li>
				<li>d) Que en caso el pedido incluya bebidas alcoh&oacute;licas, haya sido realizado por CLIENTES mayores de 18 a&ntilde;os.</li>
				</ul>

				<p>Para informar al CLIENTE o consumidor acerca de esta validaci&oacute;n, EXPATSHOP enviar&aacute; una confirmaci&oacute;n escrita a la misma direcci&oacute;n electr&oacute;nica que haya registrado el CLIENTE aceptante de la oferta, de modo que se garantice el debido y oportuno conocimiento del consumidor.</p>
				<ol start="6">
				<li><strong>. Cobertura de despacho a domicilio</strong><strong>:</strong></li>
				</ol>
				<p>Los productos adquiridos a trav&eacute;s de expatshop.pe podr&aacute;n entregarse con despacho a domicilio en los siguientes Distritos: Barranco, Chorrillos, Jes&uacute;s Mar&iacute;a, La Victoria (Santa Catalina), Magdalena, Miraflores, Pueblo Libre, San Borja, San Isidro, San Luis, San Miguel, Santiago de Surco, Surquillo, La Molina, Bellavista de Callao, La Perla, Breña, San Martin de Porras, Los Olivos y San Juan de Miraflores.</p>

				<ol start="7">
				<li><strong> Despacho de los productos.</strong></li>
				</ol>
				<p>Los productos adquiridos a trav&eacute;s de expatshop.pe se sujetar&aacute;n a las condiciones de despacho y entrega elegidas por el CLIENTE y disponibles en el sitio. La informaci&oacute;n del lugar de entrega es de exclusiva responsabilidad del CLIENTE.<br /> Los pedidos ser&aacute;n atendidos mediante rangos horarios definidos y de acuerdo con la disponibilidad de los mismos. Los rangos establecidos son:</p>
				<ul>
				<li>09:00 - 13:00</li>
				<li>13:00 - 18:00</li>
				</ul>

				<ol start="8">
				<li><strong>Cobro del servicio de flete</strong><br /> El c&aacute;lculo del flete a cobrar se realiza en funci&oacute;n al valor de la compra. Esta informaci&oacute;n se mostrar&aacute; de manera de manera autom&aacute;tica en la web.</li>
				<li><strong> Plazo m&aacute;ximo de espera en la entrega</strong></li>
				</ol>
				<p>Toda entrega es programada en la ventana de atenci&oacute;n elegida por el Cliente y se llevar&aacute; a cabo siempre y cuando el destinatario se encuentre en la direcci&oacute;n de despacho previamente identificado.</p>
				<p>EXPATSHOP esperar&aacute; un m&aacute;ximo de 10 minutos luego de haberse notificado al cliente la llegada del repartidor a su domicilio. Pasado dicho plazo EXPATSHOP gestionar&aacute; con el cliente o el receptor, seg&uacute;n sea el caso, la reprogramaci&oacute;n de la entrega de su pedido. Las reprogramaciones generan un costo adicional por la nueva entrega correspondiente al mismo monto del flete cargado inicialmente, el cual ser&aacute; cargado en el documento de pago.</p>
				<ol start="10">
				<li><strong>Cambios, devoluciones y anulaci&oacute;n</strong>.</li>
				</ol>
				<p>Expatshop.pe no acepta la anulaci&oacute;n de pedidos una vez generada la orden de compra.</p>
				<p>Expatshop no realizar&aacute; cambios ni devoluciones de productos por lo cual el CLIENTE&middot; debe revisar el estado de los productos al momento de la recepci&oacute;n. Luego de la aceptaci&oacute;n del despacho, Expatshop no se responsabiliza por da&ntilde;os f&iacute;sicos al producto.&nbsp;</p>

				<ol start="11">
				<li><strong>Uso de los datos personales registrados en el sitio</strong></li>
				</ol>
				<p>Los datos referidos en estos t&eacute;rminos y condiciones, tendr&aacute;n como finalidad validar los pedidos y mejorar la labor de informaci&oacute;n y comercializaci&oacute;n de los productos y servicios prestados por expatshop.pe.</p>
				<p>El Usuario que suscriba el formulario de datos estar&aacute; autorizando de forma libre, previa, inequ&iacute;voca y expresa el tratamiento de sus datos personales en el banco de datos personales en la tienda virtual&nbsp;<a href="http://www.expatshop.pe">www.expatshop.pe</a>&nbsp;y aceptando nuestra&nbsp;<a href="http://www.plazavea.com.pe/politicas-de-privacidad-y-uso-de-datos-personales">pol&iacute;tica de Privacidad y Uso de Datos Personales</a></p>
				<p>De conformidad con la Ley N&deg; 29733 - Ley de Protecci&oacute;n de Datos Personales y su Reglamento aprobado mediante D.S. 003-2013-JUS, el usuario otorga su consentimiento expreso para que los datos personales que facilite a EXPATSHOP a trav&eacute;s de este medio y/o cualquier otra v&iacute;a queden incorporados en el Banco de Datos de Personas Interesadas en EXPATSHOP y sean tratados por esta con la finalidad de absolver sus consultas y brindarles informaci&oacute;n publicitaria, d&aacute;ndoles usos que incluyen temas referidos al an&aacute;lisis de perfiles, publicidad y prospecci&oacute;n comercial, fines estad&iacute;sticos, hist&oacute;ricos, cient&iacute;ficos y educaci&oacute;n. El usuario autoriza a que EXPATSHOP mantenga sus datos personales en el banco de datos referido en tanto sean &uacute;tiles para la finalidad y usos antes mencionados. El usuario podr&aacute; ejercer su derecho de acceso, actualizaci&oacute;n, rectificaci&oacute;n, inclusi&oacute;n, oposici&oacute;n y supresi&oacute;n o cancelaci&oacute;n de datos personales descargando el formato de solicitud de derechos ARCO desde la p&aacute;gina web de EXPATSHOP.</p>
				<ol start="12">
				<li><strong>Validez de las ofertas contenidas en este sitio</strong></li>
				</ol>
				<p>Los precios de los productos y servicios disponibles en este sitio, mientras aparezcan en &eacute;l, s&oacute;lo tendr&aacute;n vigencia y aplicaci&oacute;n en &eacute;ste y no ser&aacute;n necesariamente aplicables a otros canales de venta utilizados por EXPATSHOP, salvo que EXPATSHOP lo indique. Asimismo, EXPATSHOP podr&aacute; modificar cualquier informaci&oacute;n contenida en este sitio, incluyendo las relacionadas con mercader&iacute;as, servicios, precios, existencias y condiciones, en cualquier momento y sin previo aviso, respetando las compras que han sido aceptadas hasta dicho momento, siempre sujeto a las condiciones de validaci&oacute;n que se indican en el n&uacute;mero 6.</p>
				<ol start="13">
				<li><strong>. Promociones<br /> </strong>Las promociones que se ofrezcan en este sitio Web no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por EXPATSHOP, tales como locales f&iacute;sicos, a menos que se se&ntilde;ale expresamente en este sitio o en la publicidad que realice EXPATSHOP para cada promoci&oacute;n.</li>
				<li><strong>Otros sitios web</strong></li>
				</ol>
				<p>Expatshop.pe no garantiza, avala ni respalda de ninguna forma el acceso a informaci&oacute;n o contenido de cualquier otro sitio Web o portal.</p>

				<ol start="15">
				<li><strong>Capacidad legal para contratar</strong></li>
				</ol>
				<p>Los servicios de expatshop.pe est&aacute;n disponibles s&oacute;lo para aquellos individuos que tengan capacidad legal para contratar, seg&uacute;n lo dispuesto por la legislaci&oacute;n vigente. Si una persona no tiene capacidad legal para contratar, debe abstenerse de utilizar los servicios ofrecidos en el sitio. Expatshop.pe podr&aacute; suspender la participaci&oacute;n de CLIENTE que se compruebe carecen de capacidad legal para usar los servicios ofrecidos en el sitio en cualquier momento en forma temporal o definitiva o cuando al registrarse brinden informaci&oacute;n que sea falsa, inexacta o fraudulenta.</p>



	    </div>
	  </div>
	</div>

</div>
