<div class="HeaderLogo">
<%= image_tag "https://s3.amazonaws.com/v1-devtechperu-expatshop-dev/static/images/expatshop_logo_circular_180x180.png", style: "position: absolute; width: 120px; height: 120px; top: 0px;" %>
</div>
<div style="margin-top: 140px;">
<p>Bienvenido al Programa de Referidos de Expatshop.pe!<br></p>
<p>Hemos lanzado un nuevo sistema de beneficios, por los cuales usted ganará puntos por cada una de sus compras, y podrá utilizarlos en sus compras futuras</p>
<p>Adicionalmente, desde hoy usted podrá compartir su enlace de invitación, e invitar a sus amigos a comprar en Expatshop.pe</p>
<p>Usted obtendrá el 5% de la primera compra de los clientes que se registren a través de su código</p>
<p>Su enlace de referidos es:</p>
<h2><%= @user.referral_link %></h2>
<p>Podrá revisar la lista de amigos y la comisión ganada en el siguiente enlace: <a href="https://expatshop.pe/store/referral">https://expatshop.pe/store/referral</a></p>
<p>Si tiene algún incoveniente contáctenos al 989080023</p>
<p> Gracias por ser parte de ExpatShop.pe !</p>
</div>
