<div class="HeaderLogo">
  <%= image_tag "https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/expatshop_logo_circular_180x180.png", style: "position: absolute; width: 120px; height: 120px; top: 0px;" %>
</div>
<div style="margin-top: 140px;">
  <%= image_tag @campaign.image.large.url %>
</div>
