<div class="page-header">
  <%= link_to backoffice_product_prices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_product_price_path(@product_price), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Product Price</h1>
</div>

<%= render 'form' %>
