<div class="page-header">
  <%= link_to backoffice_combo_discounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('common.back') %>
  <% end %>
  <h1>New Combo Discount</h1>
</div>

<%= render 'form' %>
