<div class="page-header">
  <%= link_to wishlists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to wishlist_path(@wishlist), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Wishlist</h1>
</div>

<%= render 'form' %>
