    <footer>
      <div class="container">
        <%= image_tag Ecommerce.header_logo, alt: "expatshop.pe Logo" %>
        <div class="row">
          <div class="col-md-6">
            <p>
              EXPATSHOP:
              <span>
                It specializes in exporting innovative products of the highest
                quality wishes everyone to Peru
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              WORKSHOPS:
              <span>
                AV.SAN TOTORIC 173-VIA CENTRA 1125 PEAL OCHO tower, Peso 16. San
                Isidro five 33,
              </span>
            </p>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <p>
              IMPORTANT:
              <span>
                There is no physical store.The legal direction of San Isidro is
                an administrative office, it is not a store.Do not serve us
                clients in office
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h4>Product category</h4>
              <ul>
                <li><a href="#">- alcoholic beverages</a></li>
                <li><a href="">- comestibles</a></li>
                <li><a href="">- Ecological Cleaning Products</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li><a href="">- world of oils</a></li>
                <li><a href="">- Indian food</a></li>
                <li><a href="">- Chocolates and candies</a></li>
                <li><a href="">- drinks without alcohol</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h4>Customer Zone</h4>
              <ul>
                <li><a href="">- start</a></li>
                <li><a href="">- about us</a></li>
                <li><a href="">- shipping policies</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul>
                <li><a href="">- terms and Conditions</a></li>
                <li><a href="">- contact us</a></li>
                <li>
                  <i class="fa-solid fa-book-open"></i>
                  <a href="">complaints book</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row d-flex flex-center">
            <div class="col-md-6 col-xs-12">
              <h5>COPYRIGHT 2023 EXPATSHOP.PE</h5>
            </div>
            <div class="col-md-6 col-xs-12">
              <ul class="d-flex">
                <%= image_tag "ecommerce/img/expatshop/credit_card_icons.png", style: "width: 350px;" %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>