    <nav class="desktops hidden-xs">
      <div class="container-fluid">
        <div class="d-flex">
          <div class="logo">
            <a href="#home"
              ><img src="imgs/logo.png" alt="expatshop.pe logo"
            /></a>
          </div>
          <form action="" class="search-form position-relative">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Look for your product here"
            />
            <button class="search-btn">
              <i class="fa-solid fa-magnifying-glass icon-color fa-xl"></i>
            </button>
          </form>
          <ul class="d-flex flex-center text-uppercase">
            <li class="d-flex flex-center">
              whatsapp
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
            <li class="d-flex flex-center">
              my profile
              <a href="#"
                ><i class="fa-regular fa-user icon-color d-flex flex-center"></i
              ></a>
            </li>
          </ul>
          <form action="" class="d-flex">
            <select id="currency" class="cursor-pointer">
              <option value="0">USD $</option>
              <option value="1">PEN S</option>
            </select>
            <select id="lang" class="cursor-pointer">
              <option value="0" data-imagesrc="./imgs/usa.png">English</option>
              <option value="1" data-imagesrc="./imgs/peru.png">Español</option>
            </select>
          </form>

          <div class="cart position-relative">
            <div class="dropdown">
              <button
                id="dLabel"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  class="fa-solid fa-cart-shopping icon-color cursor-pointer"
                ></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <div class="container-fluid">
                  <div class="item">
                    <div class="row d-flex flex-center">
                      <div class="col-md-3">
                        <img
                          src="imgs/featured-product-2.png"
                          class="img-responsive"
                          alt=""
                        />
                      </div>
                      <div class="col-md-7">
                        <p>chivalon romano ROMAN oil.5L</p>
                        <span>500g</span>
                        <p>$ 10.5 <span>(x1)</span></p>
                      </div>
                      <div class="col-md-2">
                        <i
                          class="fa-solid fa-trash-can icon-color fa-xl cursor-pointer"
                        ></i>
                      </div>
                    </div>
                    <div class="row d-flex flex-center">
                      <div class="col-md-3">
                        <img
                          src="imgs/featured-product-2.png"
                          class="img-responsive"
                          alt=""
                        />
                      </div>
                      <div class="col-md-7">
                        <p>chivalon romano ROMAN oil.5L</p>
                        <span>500g</span>
                        <p>$ 10.5 <span>(x1)</span></p>
                      </div>
                      <div class="col-md-2">
                        <i
                          class="fa-solid fa-trash-can icon-color fa-xl cursor-pointer"
                        ></i>
                      </div>
                    </div>
                    <div class="row d-flex flex-center">
                      <div class="col-md-3">
                        <img
                          src="imgs/featured-product-2.png"
                          class="img-responsive"
                          alt=""
                        />
                      </div>
                      <div class="col-md-7">
                        <p>chivalon romano ROMAN oil.5L</p>
                        <span>500g</span>
                        <p>$ 10.5 <span>(x1)</span></p>
                      </div>
                      <div class="col-md-2">
                        <i
                          class="fa-solid fa-trash-can icon-color fa-xl cursor-pointer"
                        ></i>
                      </div>
                    </div>
                    <div class="subtotal d-flex space-between">
                      <p>SUBTOTAL</p>
                      <p>$ 31.5</p>
                    </div>
                    <div class="cart-btn-group text-center">
                      <button class="main-btn">See cart</button>
                      <button class="main-btn">Checkout</button>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <span class="cart-count d-flex flex-center cursor-pointer">2</span>
          </div>
        </div>
      </div>
    </nav>
    <nav class="nav-links hidden-xs">
      <div class="container-fluid">
        <ul class="d-flex flex-center">
          <li><a href="#" class="active">All the products</a></li>
          <li>| <a href="#"> New products</a></li>
          <li>| <a href="#"> Alcoholic beverages</a></li>
          <li>| <a href="#"> Offers and discounts</a></li>
          <li>| <a href="#"> Groceries</a></li>
          <li>| <a href="#"> Kitchen items</a></li>
          <li>| <a href="#"> Pharmaceutical products</a></li>
          <li>| <a href="#"> Ecological Cleaning Products</a></li>
          <li>| <a href="#"> Chocolates and candies</a></li>
          <li>| <a href="#"> World of oils</a></li>
          <li>| <a href="#"> Indian food</a></li>
          <li>| <a href="#"> Drinks without alcohol</a></li>
        </ul>
      </div>
    </nav>
    <!-- navbar for mobiles -->
    <nav class="mobiles visible-xs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 d-flex flex-center">
            <div class="cart position-relative">
              <p class="text-uppercase d-flex">
                Checkout
                <i class="fa-solid fa-cart-shopping cursor-pointer"></i>
                (2)
              </p>
            </div>
          </div>
          <div class="col-xs-4 d-flex flex-center">
            <form action="" class="d-flex">
              <label class="text-uppercase">language</label>
              <select id="langMobile" class="cursor-pointer">
                <option value="0" data-imagesrc="./imgs/usa.png">EN</option>
                <option value="1" data-imagesrc="./imgs/peru.png">ES</option>
              </select>
            </form>
          </div>
          <div class="col-xs-4 d-flex flex-center">
            <form action="">
              <select class="cursor-pointer" name="currency" id="currency">
                <option value="USD $">USD $</option>
                <option value="PEN S">PEN S/</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-default mobiles-main-nav visible-xs">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row d-flex flex-center">
          <div class="col-xs-6">
            <a class="" href="#"
              ><img
                src="imgs/logo.png"
                alt="expatshop logo"
                class="img-responsive"
            /></a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="d-flex flex-center"
              ><i
                class="user-icon fa-regular fa-user icon-color d-flex flex-center"
              ></i
            ></a>
          </div>
          <div class="col-xs-3">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" class="active">All the products</a></li>
            <li><a href="#"> New products</a></li>
            <li><a href="#"> Alcoholic beverages</a></li>
            <li><a href="#"> Offers and discounts</a></li>
            <li><a href="#"> Groceries</a></li>
            <li><a href="#"> Kitchen items</a></li>
            <li><a href="#"> Pharmaceutical products</a></li>
            <li><a href="#"> Ecological Cleaning Products</a></li>
            <li><a href="#"> Chocolates and candies</a></li>
            <li><a href="#"> World of oils</a></li>
            <li><a href="#"> Indian food</a></li>
            <li><a href="#"> Drinks without alcohol</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- hero -->
    <header>
      <div class="header-hero">
        <img src="imgs/hero-img.png" class="img-responsive" alt="" />
      </div>
      <div class="header-slider">
        <div class="container-fluid">
          <div class="brand-slider">
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </header>


<%= render 'ecommerce/expatshop/store/top_promo' %>
	<!-- TODO Search should have alternate functionality if header is being shown from blog or ecommerce -->
	<div class="search-header5">
		<div class="remove-form"></div>
		<div class="container">
			<form action="<%= search_product_path %>" class="form-horizontal">
				<label class="note-search"><%= t('.search_instructions') %></label>
				<input type="search" name="search" class="form-control" value="" placeholder="Search..." autocomplete="off">
				<input type="submit" value="Search">
			</form>
		</div>
	</div>
</header>
