<!-- hero -->
    <header>
      <div class="header-hero">
        <ul class="video-slider">
          <% Ecommerce::Slider.where(slider_view: 'DESKTOP').order(:slider_order).each do |slider| %>
            <% if slider.slider_image.url[-3..-1] != 'mp4' %>
              <li><img class="bximage-inside-slide" src="<%= slider.slider_image.url %>" title="<%= slider.slider_text %>" /></li>
            <% else %>
              <li class="video-slide"><video class="vid" src="<%= slider.slider_image.url %>" autoplay controls onended="nextSlide()" title="<%= slider.slider_text %>" /></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="header-hero">
        <img src="imgs/hero-img.png" class="img-responsive" alt="" />
      </div>
      <div class="header-slider">
        <div class="container-fluid">
          <div class="brand-slider">
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/starbucks-logo-png-1666.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div>
              <img
                src="imgs/—Pngtree—coffee_3626459.png"
                alt=""
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
        <main>
      <!-- featured product -->
      <section class="featured-products">
        <div class="container-fluid">
          <h2>FEATURED PRODUCTS</h2>
          <div class="featured-product-slider">
            <div>
              <div class="featured-product position-relative d-flex">
                <div class="featured-product-body">
                  <img
                    src="imgs/featured-product-1.png"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="featured-product-info d-flex flex-center">
                    <p>Frosch set lavender 90 ml</p>
                    <div class="price d-flex flex-center">
                      <p>38$</p>
                      <p>50$</p>
                    </div>
                  </div>
                </div>
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                </button>
              </div>
            </div>
            <div>
              <div class="featured-product position-relative d-flex">
                <div class="sale">-10%</div>
                <div class="featured-product-body best-seller">
                  <img
                    src="imgs/featured-product-2.png"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="featured-product-info d-flex flex-center">
                    <p>Frosch set lavender 90 ml</p>
                    <div class="price d-flex flex-center">
                      <p>38$</p>
                      <p>50$</p>
                    </div>
                  </div>
                </div>
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                </button>
              </div>
            </div>
            <div>
              <div class="featured-product position-relative d-flex">
                <div class="featured-product-body">
                  <img
                    src="imgs/featured-product-1.png"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="featured-product-info d-flex flex-center">
                    <p>Frosch set lavender 90 ml</p>
                    <div class="price d-flex flex-center">
                      <p>38$</p>
                      <p>50$</p>
                    </div>
                  </div>
                </div>
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                </button>
              </div>
            </div>
            <div>
              <div class="featured-product position-relative d-flex">
                <div class="featured-product-body">
                  <img
                    src="imgs/featured-product-2.png"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="featured-product-info d-flex flex-center">
                    <p>Frosch set lavender 90 ml</p>
                    <div class="price d-flex flex-center">
                      <p>38$</p>
                      <p>50$</p>
                    </div>
                  </div>
                </div>
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                </button>
              </div>
            </div>
            <div>
              <div class="featured-product position-relative d-flex">
                <div class="featured-product-body">
                  <img
                    src="imgs/featured-product-1.png"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="featured-product-info d-flex flex-center">
                    <p>Frosch set lavender 90 ml</p>
                    <div class="price d-flex flex-center">
                      <p>38$</p>
                      <p>50$</p>
                    </div>
                  </div>
                </div>
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- sub links for mobiles -->
      <section class="visible-xs sub-links">
        <div class="container-fluid">
          <ul class="d-flex flex-center">
            <li>ALL THE PRODUCTS</li>
            <li>My frequent purchases</li>
            <li>NEW PRODUCTS</li>
            <li>OFFERS AND DISCOUNTS</li>
          </ul>
        </div>
      </section>
      <!-- categories principles for mobiles -->
      <section class="visible-xs categories-principles">
        <div class="container-fluid">
          <h2>CATEGORIES PRINCIPLES</h2>
          <div class="row">
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="principle">
                <img src="imgs/store.png" class="img-responsive" alt="" />
                <p>Alcoholic drinks</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- testimonial -->
      <section class="testimonials">
        <div class="container-fluid">
          <h2>CUSTOMER TESTIMONIAL</h2>
          <div class="testimonial-slider">
            <div>
              <div class="testimonial-body">
                <video controls="controls">
                  <source src="vid.mp4" type="video/mp4" />
                </video>
                <div class="testimonial-info d-flex flex-center">
                  <p>Sally Chrem - artist</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-body">
                <video controls="controls">
                  <source src="vid.mp4" type="video/mp4" />
                </video>
                <div class="testimonial-info d-flex flex-center">
                  <p>Sally Chrem - artist</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-body">
                <video controls="controls">
                  <source src="vid.mp4" type="video/mp4" />
                </video>
                <div class="testimonial-info d-flex flex-center">
                  <p>Sally Chrem - artist</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-body">
                <video controls="controls">
                  <source src="vid.mp4" type="video/mp4" />
                </video>
                <div class="testimonial-info d-flex flex-center">
                  <p>Sally Chrem - artist</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-body">
                <video controls="controls">
                  <source src="vid.mp4" type="video/mp4" />
                </video>
                <div class="testimonial-info d-flex flex-center">
                  <p>Sally Chrem - artist</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- global products-->
      <section class="global-products">
        <div class="container-fluid">
          <h2>PRODUCTS FROM THE WORLD</h2>
          <!-- countries for desktop -->
          <div class="countries hidden-xs">
            <div class="div1">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div2">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div3">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div4">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div5">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div6">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div7">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div8">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div9">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
            <div class="div10">
              <div class="country position-relative">
                <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                <p>FRANCE</p>
              </div>
            </div>
          </div>
          <!-- countries for mobile -->
          <div class="countries-mobile visible-xs">
            <div class="row">
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="country position-relative">
                  <img src="imgs/country-1.jpg" class="img-responsive" alt="" />
                  <p>FRANCE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- offer -->
      <section class="offer">
        <div class="container">
          <div class="row">
            <div class="col-xs-7 col-md-8">
              <p>Day 1: <span>Trade</span></p>
              <h3>Expatshop and his commitment to grow in Peru</h3>
              <p class="hidden-xs">
                Learn a little more about the importer who, in the following
                five -year period, expect your store to offer 15,000 products
                from different categories.
              </p>
            </div>
            <div class="col-xs-5 col-md-4 position-relative">
              <img src="imgs/offer.png" class="img-responsive" alt="" />
              <h4 class="pe">.Pe</h4>
            </div>
            <div class="btn-group">
              <button class="main-btn">Read article</button>
              <button class="main-btn white">Press</button>
            </div>
          </div>
        </div>
      </section>
    </main>


