<div class="page-header">
  <%= link_to new_backoffice_province_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Province
  <% end %>
  <h1>Listing Provinces</h1>
</div>

<%= render "index" %>
