<div style="color: red; margin-top: 5px; margin-bottom: 5px;"><%= @error_found_address %></div>
<% if @address.latitude || @address.longitude %>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@address.latitude},#{@address.longitude}&markers=#{@address.latitude},#{@address.longitude}&zoom=16&size=640x400&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
    class: 'img-fluid img-rounded map_address_image', style: "padding-bottom: 10px; width: 100%;", alt: "#{@address.name} on the map" %>
<% else %>
  <%= image_tag "https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/map_placeholder.png",
    width: 640, height: 400, class: 'img-fluid img-rounded map_address_image',
    style: "padding-bottom: 10px; width: 100%;", alt: "map_placeholder" %>
<% end %>
