.js_now_flash_class {
  margin-bottom: 0px !important;
}
.dropdown-hover {
  border: none;
}
.dropdown-hover:hover>.dropdown-user {
  display: block;
}
.dropdown-user {
  width: 250px;
  padding: 25px 0;
  left: -70px;
  top: 90%;
}
.dropdown-user::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  border: 2px solid var(--form-border-color);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  right: 25px;
  top: -10px;
  transform: rotate(45deg);
}
.dropdown-user-line {
  margin-right: 0px !important;
}
.dropdown-user .row {
  border-bottom: 2px solid var(--form-border-color);
  margin: 0 15px;
  padding: 10px 0;
}
.cart:hover .dropdown-menu {
  display: block;
}
.country-div {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.country-div p {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #d7def1;
  padding: 10px 20px;
  margin: 0;
  color: var(--black-color);
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product-info-price-regular {
  color: var(--primary-btn-color);
  margin: 0;
  position: relative;
  font-weight: 400;
  width: 50%;
}
.product-info-price-discounted {
  text-decoration: line-through;
  color: red !important;
  position: relative;
  font-weight: 400;
  margin: 0;
  width: 50%;
}
.stock_alert {
  width: 100%;
  margin-bottom: 0px;
  height: 42px;
}
.index_single_stock_alert_button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #337ab7;
}
.out_of_stock_text_class {
  display: none;
}
.cart-form {
  width: 100%;
  margin-bottom: 0px;
  height: 42px;
}
.add-to-cart-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  height: 42px;  
}
.container-minus-plus {
  flex: 0 1 auto;
  width: 42px;
  height: 42px;
  background-color: black;
  color: white;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.devtech_minus_a_class {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none !important;
}
.devtech_plus_a_class {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none !important;
}
.container-qty {
  flex: 0 1 auto;
  width: 42px;
  height: 42px;
  background-color: white;
  color: black;
  font-size: 20px;
}
.container-cart-button {
  flex: 0 1 auto;
  height: 42px;
  width: calc(100% - 126px);
  background-color: var(--primary-btn-color);
  color: white;
  font-size: 16px;
}
.cart_item_quantity {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
}
.no-spinners {
  height: 42px;
  width: 42px;
  text-align: center;
}
.devtech_minus_class {
  height: 42px;
  width: 42px;
}
.no-click-styles {
  text-decoration: none;
  /* Remove underline */
}
.no-click-styles:visited {
  color: white;
  /* Inherit the color from the parent element */
}
.no-click-styles:focus {
  color: white;
  outline: none;
  /* Inherit the color from the parent element */
}
.out_of_stock {
  display: none;
}
.max-360 {
  max-width: 360px;
}
.desktop-500 {
  @media (min-width: 800px) {
    height: 400px;
    width: 400px;
  }
  @media (min-width: 1500px) {
    height: 500px;
    width: 500px;
  }
}
