
@media (max-width: 480px) {
  .main-section-title {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .featured-product {
    margin: 0 2px;
  }
  .featured-products {
    background-color: white;
  }
  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
  }
  .slick-prev, .slick-next {
    width: 12px;
  }
  .featured-product-info {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .featured-product-info .price {
    width: 90% !important;
  }
  .featured-product-info-price {
    font-size: 12px !important;
  }
  .featured-product-info-price-discounted {
    font-size: 12px !important;
    color: var(--primary-btn-color) !important;
  }
  .featured-product-info-price-regular {
    text-decoration: line-through !important;
    font-size: 12px !important;
  }
  .featured-product-info p {
    font-size: 14px;
  }
  .testimonial-info p:first-child {
    font-size: 12px;
  }
  .testimonial-info p {
    font-size: 12px;
  }
  .testimonial-info {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .testimonial-body {
    margin: 0 10 0 0 !important;
  }
  .global-products {
    padding: 0 0 20 0;
  }
  .offer h3 {
    font-size: 2.5rem;
  }
  .offer .pe {
    font-size: 4rem;
    padding-right: 10px;
  }
  .offer .btn-group {
    top: 20px;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
  }
  .offer .btn-group .main-btn {
    font-size: 14px;
    width: 60%;
  }
  .slick-slide {
    margin: 0 0px;
    max-width: 160px;
  }
  .mobile-header-row {
    display: flex;
    align-items: baseline;
    height: 24px;
  }
  .featured-add-to-cart-button {
    font-size: 12px;
  }
  .slick-slide {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .product-info-price {
    font-size: 14px !important;
  }
  .product-info-price-regular {
    font-size: 14px !important;
    margin: 0 10 0 0 !important;
  }
  .product-info-price-discounted {
    font-size: 14px !important;
  }
  .checkout-receipt-button {
    font-size: 14px;
  }
  .checkout-address-button {
    font-size: 14px;
    padding: 10px 10px !important;
    margin-right: 20px;
  }
  .direction-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkout-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wa-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }

  .wa-currency {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 160px;
    right: 20px;
    background-color: #666;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }

  .wa-my-float {
    margin-top: 11px;
    font-size: 40px;
  }

  .wa-search {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    right: 20px;
    background-color: #666;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }

  .search-my-float {
    margin-top: 14px;
    font-size: 32px;
  }
  .order-status-order-details-button {
    font-size: 14px !important;
    margin-left: 10px !important;
  }
  .order-status-order-details h3 {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
  }
  .order-status-label {
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
  }
  .f-product-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .sub-links {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .categories-principles {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .cat-img-wrapper {
    width: 100px !important;
    /* Set the width of the container */
    height: 100px !important;
    /* Set the height of the container */
    border-radius: 50% !important;
    /* Create a circular shape */
    background-color: white !important;
    /* Set the background color to white */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
    /* Ensure content doesn't overflow */
  }
  .cat-image {
    width: 55% !important;
    /* Adjust the width of the square image */
    height: auto !important;
    /* Maintain the aspect ratio */
  }
  .related-products h3::before, .related-products h3::after {
    height: 0px !important;
  }
  #langMobile, .dd-options {
    z-index: 200;
  }
  .products .featured-product .featured-product-body .featured-product-info p:first-of-type {
    margin-bottom: 8px !important;
  }
  .video-sizing {
    height: 150px !important;
  }
  .checkout .mini-cart .mini-cart-items {
    padding: 10px !important;
  }
  .checkout-p-text-mobile {
    font-size: 18px !important;
  }
  .over-700-text {
    font-size: 16px !important;
  }
  .checkout-pay-in-soles-p,
  .checkout-pay-in-points-p {
    font-size: 16px !important;
  }
  .checkout .pay-in-soles p,
  .checkout .coupon p,
  .checkout .coupon label,
  .checkout .receipt p {
    font-size: 16px !important;
  }
  .checkout-receipt-div {
    font-size: 16px !important;
  }
  .products .continue-checkout-button {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .mobile-cart-separator {
    width: 90%;
    border: none;
    border-top: 1px solid lightgray;
  }
  .cart-info {
    padding: 10px 10px 20px;
  }
  .mobile-cart-product-name {
    padding: 0px 10px 0px 10px;
  }
  .mobile-cart-product-totals {
    font-weight: 400;
    font-size: 16px !important;
  }
  .mobile-cart-product-delete {
    padding: 0px 0px 0px 0px;
  }
  .brand-slide-div {
    width: 80px;
    margin: 0px 15px 0px 15px;
  }
  .slick-track {
    display: flex !important;
    align-items: center !important;
  }
  #bs-example-navbar-collapse-2 {
    padding-left: 30px !important;
    overflow-y: clip !important;
  }
  .mobile-signout-a {
    padding-left: 10px !important;
  }
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.sticky-header-2 {
  position: sticky;
  top: 46;
  z-index: 100;
  background-color: white;
}
.js_now_flash_class {
  margin-bottom: 0px !important;
}
.dropdown-hover {
  border: none;
}
.dropdown-hover:hover>.dropdown-user {
  display: block;
}
.dropdown-user {
  width: 250px;
  padding: 25px 0;
  left: -70px;
  top: 90%;
}
.dropdown-user::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  border: 2px solid var(--form-border-color);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  right: 25px;
  top: -10px;
  transform: rotate(45deg);
}
.dropdown-user-line {
  margin-right: 0px !important;
}
.dropdown-user .row {
  border-bottom: 2px solid var(--form-border-color);
  margin: 0 15px;
  padding: 10px 0;
}
.cart:hover .dropdown-menu {
  display: block;
}
.country-div {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.country-div p {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #d7def1;
  padding: 10px 20px;
  margin: 0;
  color: var(--black-color);
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.featured-product-info .price {
  width: 100%;
}
.product-info-price {
  position: relative;
  font-weight: 400;
  margin: 0;
  width: 70%;
  font-size: 24px !important;
}
.product-info-price-regular {
  text-decoration: line-through !important;
  position: relative;
  font-weight: 400;
  margin: 0 10 0 0 !important;
  width: 50%;
  font-size: 24px !important;
}
.product-info-price-discounted {
  color: var(--primary-btn-color) !important;
  position: relative;
  font-weight: 400;
  margin: 0;
  width: 50%;
  font-size: 24px !important;
}
.single-30 {
  font-size: 30px !important;
  margin-right: 20px !important;
}
.price-inner-wrapper {
  display: flex;
  width: 90%;
  margin-bottom: 10px;
}
.stock_alert {
  width: 100%;
  margin-bottom: 0px;
  height: 42px;
}
.index_single_stock_alert_button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #337ab7;
}
.out_of_stock_text_class {
  display: none;
}
.cart-form {
  width: 100%;
  margin-bottom: 0px;
}
.add-to-cart-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  height: 42px;  
}
.container-minus-plus {
  flex: 0 1 auto;
  width: 42px;
  height: 42px;
  background-color: black;
  color: white;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.devtech_minus_a_class {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none !important;
}
.devtech_plus_a_class {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none !important;
}
.container-qty {
  flex: 0 1 auto;
  width: 42px;
  height: 42px;
  background-color: white;
  color: black;
  font-size: 20px;
}
.container-cart-button {
  flex: 0 1 auto;
  height: 42px;
  width: calc(100% - 126px);
  background-color: var(--primary-btn-color);
  color: white;
  font-size: 14px;
}
.cart_item_quantity {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
}
.no-spinners {
  height: 42px;
  width: 42px;
  text-align: center;
}
.devtech_minus_class {
  height: 42px;
  width: 42px;
}
.no-click-styles {
  text-decoration: none;
  /* Remove underline */
}
.no-click-styles:visited {
  color: white;
  /* Inherit the color from the parent element */
}
.no-click-styles:focus {
  color: white;
  outline: none;
  /* Inherit the color from the parent element */
}
.out_of_stock {
  display: none;
  margin-bottom: 30px;
  color: red;
  font-size: 24px;
}
.max-360 {
  max-width: 360px;
}
.desktop-500 {
  @media (min-width: 800px) {
    height: 400px;
    width: 400px;
  }
  @media (min-width: 1500px) {
    height: 500px;
    width: 500px;
  }
  .mob-menu-lines-a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
.bx-wrapper {
  border: 0px;
}
.featured-add-to-cart-button {
  width: 100%;
}
.order-status-label {
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}
.slick-arrow {
  z-index: 2;
}
.product-title {
  height: 50px;
  overflow: hidden;
  font-weight: 600 !important;
  font-size: 18px !important;
}
.product-info {
  height: 60px;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
}
.testimonial-user-name {
  height: 40px;
  overflow: hidden;
}
.testimonial-product-info {
  height: 65px;
  overflow: hidden;
}
.video-sizing {
  height: 250px;
}
.checkout-weight-p {
  margin-bottom: 0px !important;
}
.width-80 {
  width: 80% !important;
}
.cart-price-p {
  width: 20% !important;
  text-align: right;
}
.over-700-text {
  font-size: 20px;
}
.out_of_stock_p {
  font-size: 20px !important;
  color: red !important;
}
#dLabel+.dropdown-menu>.container-fluid {
  overflow-x: scroll;
  max-height: 700px;
  padding-bottom: 15px;
}
.cart {
  padding: 0 15px;
  padding-bottom: 20px;
  margin-bottom: -20px;
}