/* GLOBAL */
:root {
  --label-color: #fbe5e2;
  --links-color: #d1e1f3;
  --background-color: #f1f1f1;
  --primary-btn-color: #de203c;
  --secondary-btn-color: #32373a;
  --white-color: #ffff;
  --black-color: #000;
  --form-color: #eeefed;
  --form-border-color: #d4d6d3;
  --icons-color: #67696c;
  --best-seller-color: #007f00;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 25px 15px;
  color: var(--black-color);
}
section {
  padding: 25px 0 50px;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
/* UTILITIES  */
.container-fluid {
  margin-left: 15px;
  margin-right: 15px;
}
.active {
  background-color: var(--white-color);
  padding: 5px 10px;
  border-radius: 8px;
}

/* HIGHLIGHTED CATEGORIES */
.highlighted-category {
  background-color: var(--primary-btn-color) !important;
  color: var(--white-color) !important;
  padding: 5px 10px;
  border-radius: 8px;
}

.highlighted-category-mobile .cat-img-wrapper {
  border: 4px solid var(--primary-btn-color) !important;
  border-radius: 50% !important;
  box-sizing: border-box !important;
}

.highlighted-category-mobile p {
  background-color: var(--primary-btn-color) !important;
  color: var(--white-color) !important;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.sale,
.best-seller::after {
  position: absolute;
  padding: 3px 8px;
  right: 0;
  font-weight: 700;
}
.sale {
  background: var(--primary-btn-color);
  top: 90px;
  color: var(--white-color);
}
.best-seller::after {
  content: "BEST SELLER";
  background: var(--best-seller-color);
  top: 60px;
  color: black;
}
.icon-color {
  color: var(--icons-color) !important;
}
.d-flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.position-relative {
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}
.text-uppercase {
  text-transform: uppercase;
}
.main-btn {
  background: var(--primary-btn-color);
  border: 0;
  padding: 10px 30px;
  color: var(--white-color);
  margin-right: 15px;
}
.secondary-btn {
  background: var(--secondary-btn-color);
  border: 0;
  padding: 10px 30px;
  color: var(--white-color);
  margin-right: 15px;
}
